body {
    font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    /* line-height: 1.8; */
    margin: 0;
}

section {
    padding-top: 2%;
    padding: 3%
}

#sessao {
    height: auto;
}

.banner_logo img {
    align-items: center;
    margin-left: 333px;
    width: 600px;
    height: auto
}

.header {
    width: 100%;
    padding: 100px 0;
    text-align: center;
    background-image: url(https://lh3.googleusercontent.com/KVKF8fGhuB1sV083vlWtJEaz1zwBsivg5fwOx2LTaUV0aGNsubt3B7naAKO6ZiyLlGqiYMXXLxGreuXZ3STEzvvvAUguWrAGrIiNwi4tRwlgQICZJZ77qobszm-HCP_CCT7OXYRLbVE9DJzyvPC-qxw6Lv-5BaLC46C9AC8jzipFswdxjA_S_T9Jg5aFPle3ib9zTHLlUQMordwyaLf1KpMxZVjmUjEk7IUM6zbm7RqFLDgHpZNrMzTQROz5OfqwLJxR4H42O_kd0mKzmsv_Qu2AsHmvUq_HpSx9LTiP6cPdhQwGGk_lLg7Kd4OygsWavvfyj3Xb6PznuFZIe19774VgKbxTpVMYzogRvXhJvjOiEdAVj_4J7USO4E-i7FhQyLwaEBm_1YbtYGeXAqWUGHBGtW4z0Pw03Qujr9esqXcZXdlsFUZchjGgI1elLTGhAolbYdkH3N5JIal6pUaK9rGq8LkQHYtC_97-uFI40CjVjDkZVz-xtmIGIfrDO2d5A4QQ_SZAHQNPcGlqxiTQLxOlX8FmBcv2A4j8xnMYxofB0Y4dHebGYlRsyul20DUxb8BwG78ybORYg2tJvNDNhH2V9CH3e1ldRfMbko7u=w1200-h624-no);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header p {
    font-size: 20px;
    font-size: 1.25rem;
    color: #fffef9;
}

.header h4 {
    color: #fffef9;
    font-size: 18px;
}

.banner {
    display: block;
    min-height: 200px;
    width: 100%;
    position: relative;
}

.typed_wrap {
    display: block;
    color: #ecf0f1;
    /* border: 4px solid #ecf0f1; */
    width: 440px;
    height: auto;
    padding: 30px;
    /*centers it in the .banner*/
    position: absolute;
    top: 70%;
    left: 57%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.typed_wrap h1 {
    display: inline;
}

/*Add custom cursor so it auto inherits font styles*/

.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/

.typed-cursor {
    opacity: 0;
    display: none;
}

/*Custom cursor animation*/

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.item {
    background: #ecf0f1;
}

.item img {
    width: 100px;
    height: auto;
}

.team {
    padding: 100px 0 50px 0;
    color: #fffef9;
    text-align: center;
    background-color: #393542;
}

.team p {
    font-size: 18px;
    font-size: 1.125rem;
}

.team img {
    width: 20%;
    height: auto;
    border-radius: 80px;
}

.team h4 {
    font-style: unset
}

.footer {
    padding-top: 75px;
    height: 350px;
    background: #14091af5;
    color: azure
}

.footer img {
    height: 50px;
    width: auto;
}

.projects {
    background-color: #fffef9;
}

.project-item {
    width: 100%;
    padding: 120px 0;
}

.project-item.-vertical img {
    max-width: 45%;
}

.project-img,
.project-text {
    width: 48.5%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.project-img img {
    max-width: 100%;
}

.project-title {
    margin: 0;
    font-family: 'Futura';
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 700;
}

.project-text p {
    margin: 0;
    font-size: 18px;
    font-size: 1.125rem;
}

.project-text .project-cat {
    margin: 0;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
}

.project-texto {
        padding-top: 7%;
}